.collection-card {
  color: white;
  background-color: #1a1c1e;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  height: 500px;
  margin: 30px;
}

.details {
  padding: 20px;
}

.name {
  font-size: 20px;
  font-weight: 900;
}

.id {
  color: #a1a5b0;
  font-size: 18px;
  font-weight: 600;
}

.collection-card > img {
  width: 100%;
}

.collection-card .wethImage {
  height: 23px;
  width: 15px;
}

.price-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  object-fit: contain;
}

.collection-card .price {
  margin-left: 5px;
  font-weight: 600;
}
